<div class="bg-linear-to-r from-rose-600 to-pink-600 text-white py-4 text-center shadow-lg">
  <p class="text-sm md:text-base font-semibold uppercase tracking-widest">🎓 Página Especial Dedicada a las Madres del Instituto Harvar 🎓</p>
  <p class="text-xs md:text-sm mt-1 font-light">Celebrando a nuestras profesoras y madres extraordinarias</p>
</div>

<div class="fixed right-8 top-1/4 text-4xl space-y-4 pointer-events-none hidden  flex-col md:flex">
  <span class="flower">🌹</span>
  <span class="flower">🌸</span>
  <span class="flower">💐</span>
  <span class="flower">🌺</span>
  <span class="flower">🌷</span>
</div>